<!DOCTYPE html>
<html lang='en'>
<head>
	<!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#6D5C80">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#6D5C80">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="STock trading advisor">
	<meta name="keywords" content="node.js, javascript, digital art, adobe illustrator, web developer, portfolio, UI design">
	<meta name="author" content="Kaustuva Ghosh">
	<title>Stock Market Advisor</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link rel="stylesheet" href="styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	<noscript>You need Javascript to experience this website.</noscript>

</head>
<body>
  <div class="container">
    <div class="row mx-auto text-center main-row">
        <div id="calendar-container col-7">
              <h1 id="calendar-title">
                <div class="btn left"></div>
                <span>April, 2019</span>
                <div class="btn right"></div>
              </h1>
              <table id="calendar-table">
                <tr>
                  <th>Sun</th>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                </tr>
                <tr>
                  <td><span class="datelabel"></span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">1</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">2</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">3</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">4</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">5</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">6</span><div class="pricelabel"></div></td>
                </tr>
                <tr>
                  <td><span class="datelabel">7</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">8</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">9</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">10</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">11</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">12</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">13</span><div class="pricelabel"></div></td>
                </tr>
                <tr>
                  <td><span class="datelabel">14</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">15</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">16</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">17</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">18</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">19</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">20</span><div class="pricelabel"></div></td>
                </tr>
                <tr>
                  <td><span class="datelabel">21</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">22</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">23</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">24</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">25</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">26</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">27</span><div class="pricelabel"></div></td>
                </tr>
                <tr>
                  <td><span class="datelabel">28</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">29</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel">30</span><div class="pricelabel"></div></td>
                  <td><span class="datelabel"></span><div class="pricelabel"></div></td>
                  <td><span class="datelabel"></span><div class="pricelabel"></div></td>
                  <td><span class="datelabel"></span><div class="pricelabel"></div></td>
                  <td><span class="datelabel"></span><div class="pricelabel"></div></td>
                </tr>
                
              </table>
              <div class="priceform">
                <i class="fas fa-window-close fa-2x hidebox"></i>
                <form action="/" method="POST">
                <p>Enter stock price for this day</p>
                <input type=text id="date-text" name="date" hidden></input>
                <input type="number" name="price">
                <button type="submit">Add Price</button>
                </form>
              </div>
              <div class="deleteform" hidden>
                <form action="/?_" method="POST"></form>
                <p id="date-textb" name="Date"></p>
                <p id="price-text"></p>
                <button type= "submit">Remove</button>
                
              </div>
              
            </div>
        <div class= "stock-info col-4">
          <div class="maxprofit">
            <h3>Max Profit</h2>
            <h2 class="maxamt">300</h1>
          </div>
          <div class="graph">
            <h3>d3.js graph comes here</h3>
          </div>
          <div class="buysellinfo d-flex justify-content-around">
            <div class="text-center buydate"><p>BUY DATE</p></div>
            
            <div class="text-center selldate"><p>SELL DATE</p></div>
          </div>
        </div>
    </div>
  </div>
    
    <p id="dataObj" hidden><%=dataObj%></p>
  
<script src="script.js"></script>
</body>
</html>